.trainers{
    background-color: hsl(208, 38%, 20%);
}
.trainers-title h1 {
    color:#c9d607;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 0 0 15px 0;
    text-align: center;
}
.trainers-title h5{
    text-align: center;
    color: #e84c3d;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 15px 0;
    line-height: 26px;
}